{% extends "base_dash.html" %}

{% load static %}

{% block head %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
{% endblock %} 

{% block page-title %} Clinica Vision - {{ username }} {% endblock %}

{% block content %}

    <img src="{% static 'img/dashboard/faixa_listrada.svg' %}" alt="listras">

    <main>

        <section class="container_grid_paciente">

            {% block side-menu %}

                <div class="left_menu">
                    <div>
                        <img src="{% static 'img/dashboard/perfil_icon/icone_01.png' %}" alt="ícone perfil">

                        <div class="btn_quadrado_pac"> <!--botao agendamento-->
                            <a href="#">
                                <img id="centralize" src="{% static 'img/dashboard/img-calendario.png' %}" alt="ícone-agendamento">
                                <h1>NOVO<br>AGENDAMENTO</h1>
                            </a>
                        </div>

                        <div class="btn_quadrado_pac"> <!--botao meus dados-->
                            <a href="{% url 'paciente:atualizar-cadastro' paciente.pk %}">
                                <img id="centralize" src="{% static 'img/dashboard/perfil_icon/icone_01.png' %}" alt="ícone-agendamento">
                                <h1>MEUS DADOS</h1>
                            </a>
                        </div>
                    </div>
                </div>

            {% endblock %}

            {% block title %}
            
                <div class="subtitle" id="subtitle_paciente">
                    <p>AGENDAMENTOS</p>
                </div>

            {% endblock %}

            {% block botoes %}

                <div class="section_principal">

                    <h2 class="texto">Agendamentos futuros</h2>
    
                    <div class="btn_agendamentos_futuros"> <!--linha com os agendamentos futuros-->

                    {% if agendamentos.count == 1 %}

                        {% for agendamento in agendamentos %}
                            
                            <div class="linha_interna">
                                <a href="#" class="custom-modal-link" data-toggle="modal" data-target="#myModal-Visualizar">

                                    <p>{{ agendamento.id_especialidade }}</p>
                                    <p>Dr(a) {{ agendamento.id_medico }}</p>
                                    <p>{{ agendamento.data_cons }}</p>
                                    <p>{{ agendamento.hora_cons }}</p>

                                </a>                                 
                            </div>
                            
                            <a href="{% url 'paciente:alterar-consulta' agendamento.pk %}" class="custom-modal-link" data-toggle="modal" data-target="#myModal-Alterar">
                                <img class="icones_menores" src="{% static 'img/dashboard/editar_icon.svg' %}" alt="ícone-excluir">
                            </a>

                            <a href="#" class="custom-modal-link" data-toggle="modal" data-target="#myModal-Cancelar">
                                <img class="icones_menores" src="{% static 'img/dashboard/img_icone_excluir.svg' %}" alt="ícone-excluir">
                            </a>

                            <!-- Modal - Visualizar Consulta -->
                            <div class="modal fade" id="myModal-Visualizar" role="dialog">
                                <div class="modal-dialog">
                                <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h1 class="title">DETALHES DA CONSULTA</h1>
                                        </div>
                                        <div class="modal-body">
                                            <div class="dados-consulta">
                                                <p>Especialidade: {{ agendamento.id_especialidade }}</P>
                                                <p>Médico(a): Dr(a) {{ agendamento.id_medico }}</p>
                                                <p>Data: {{ agendamento.data_cons }}</p>
                                                <p>Hora: {{ agendamento.hora_cons }}</p>
                                                <P>Endereço: Rua Padre Adelino, 333 - Belenzinho <br> São Paulo - SP CEP: 03303-000</P>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Modal - Alterar Consulta -->
                            <div class="modal fade" id="myModal-Alterar" role="dialog">
                                <div class="modal-dialog">
                                <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h1 class="title">REMARCAR CONSULTA</h1>
                                        </div>
                                        <div class="modal-body">
                                            <div id="container-forms">

                                                <form method="POST" class="form-grid-consulta" action="{% url 'paciente:alterar-consulta' agendamento.pk %}">
                                                    {% csrf_token %}
                                                    {% for field in form %}
                                                        <div class="form-field">
                                                            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label><br>
                                                            {{ field }}
                                                        </div>
                                                    {% endfor %} 
                                                    <button type="submit" class="form-button">CONCLUIR</button>
                                                </form>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Modal - Cancelar Consulta-->
                            <div class="modal fade" id="myModal-Cancelar" role="dialog">
                                <div class="modal-dialog">
                                <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h1 class="title">CANCELAR AGENDAMENTO</h1>
                                        </div>
                                        <div class="modal-body">
                                            <div class="dados-consulta">

                                                <form method="POST" action="{% url 'paciente:cancelar-consulta' agendamento.pk %}">

                                                    <p>Data: {{ agendamento.data_cons }}</p>
                                                    <p>Hora: {{ agendamento.hora_cons }}</p>
                                                    <p>Especialidade: {{ agendamento.id_especialidade }}</p>
                                                                                    
                                                    {% csrf_token %}
                                                    <div class="form-field">
                                                        <label for="motivo">Motivo do cancelamento:</label><br>
                                                        <textarea id="motivo" rows="10" name="motivo" cols="33"></textarea>
                                                    </div>
                                                    <button class="form-button" type="submit">CONFIRMAR CANCELAMENTO</button>
                                    
                                                </form>
                                    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}

                    {% elif agendamentos.count >= 2 %}

                        <a href="" type="submit">
                            <p class="texto">{{ agendamentos.count }} consultas futuras. Ver todos</p>
                        </a> 

                    {% else %}

                        <p class='texto'>Não há agendementos futuros</p>

                    {% endif %}
    
                    </div>

                    <h2 class="texto">Histórico de consultas</h2>
    
                    <div class="historico_consulta"><!--historico de consultas-->

                        {% if historicos %}

                            {% for historico in historicos|slice:":3" %}

                                <div class="bg_botao"><!--botao laudo 1-->

                                    <p>{{ historico.id_especialidade }}</p>
                                    <p>{{ historico.data_cons }}</p>
                                    <p>{{ historico.hora_cons }}</p>
                                    <a href="">
                                        <img class="icones_menores" src="{% static 'img/dashboard/img_icone_laudo.svg' %}"
                                            alt="ícone-laudo-médico">
                                    </a>
                                    <img class="icones_menores" src="{% static 'img/dashboard/concluir_icon.svg' %}"
                                            alt="ícone-laudo-médico">
                                </div>
            
                            {% endfor %}

                            {% if historicos.count >= 3 %}

                                <p class="texto">Ver todas as {{ historicos.count }} consultas passadas.</p>
                                {% comment %} <a href="" type="submit"></a> {% endcomment %}

                            {% endif %}

                        {% else %}

                            <p class="texto">Não há histórico de consulta</P>

                        {% endif %}
    
                    </div>
    
                </div>

            {% endblock %}

        </section>

    </main>
    
{% endblock %}

       