/* estilizando filtro de funcionarios */

.container_filtro {
    width: 100%;
    height: 200px;
    align-items: center;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container_filtro img {
    width: 100px;
    height: 100px;
}

.container_filtro div:first-child {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_filtro div:nth-child(2) {
    width: 60%;
}

.container_filtro div:nth-child(2) input {
    height: 30px;
    background-color: var(--azul-claro);
    border-radius: 10px;
    border: none;
    margin-right: 10px;
    padding-left: 10px;
}
.container_filtro div:nth-child(2) button {
    width: 100px;
    height: 40px;
    background-color: var(--verde);
    color: var(--branco);
    font-weight: 600;
    border-radius: 10px;
    border: none;
    margin-right: 10px;
}
.container_filtro div:nth-child(3) {
    width: 20%;

    display: flex;
    justify-content: center;
}

.container_filtro div:nth-child(3) button {
    width: 180px;
    height: 60px;

    background-color: var(--azul-escuro);
    color: var(--branco);
    font-weight: 600;
    border: none;
    border-radius: 10px;
}

/* estilizando tabela */

.container_table_funcionario {
    width: 100%;
    min-height: 400px;
    max-height: auto;

    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.container_table_funcionario table {
    width: 80%;
    height: auto;
    border-collapse: collapse;
    margin: 20px 0;
    border-radius: 10px;
    overflow: hidden;

    font-family: var(--texto);
}
/* rotulo da tabela */
.container_table_funcionario th {
    background-color: var(--cinza);
    /* border: 1px solid var(--preto); */
    text-align: left;
    padding: 8px;
    font-weight: 600;
}

tbody td {
    border: 1px solid var(--cinza);
    text-align: left;
    padding: 8px;
}

