{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/background/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/background/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/background/header.css' %}">

    <link rel="stylesheet" href="{% static 'css/dashboards/dash_base.css' %}">
    <title>{% block page-title %} Clinica Vision - {{ username }} {% endblock %}</title>
</head>

<header class="header_dash">

    <div>
        <span>(11) 3275-3530</span>
    </div>

    <div>
        <img class="header_logo" src="{% static 'img/logo/logo-vision-dark.svg' %}" alt="Logo Clínica Vision">

        
        <p> Olá! {{ username }} </p>
        

        <div id="btn_header_dash">
            <nav>
                <ul>
                    <li><a href="">VOLTAR</a></li>
                    <li><a href="">LOGOUT</a></li>
                </ul>
            </nav>
        </div>
        
        <div onclick="mostrarMenu()" class="mobile-menu-amburguer">
            <!-- Este menu amburguer só aparece no responsivo. A função está no path:assets/js/sideBar.js -->
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </div>

</header>

<body>

    <img src="{% static 'img/dashboard/faixa_listrada.svg' %}" alt="listras">

    <main>

        <section>

            <div class="left_menu">
                <div>

                    {% block side menu %}

                    {% if cargo == 'ADM' %}

                        <img src="{% static 'img/dashboard/perfil_icon/icone_adm.png' %}" alt="ícone perfil">
                    
                    {% elif cargo == 'MDC' %}

                        <img src="{% static 'img/dashboard/perfil_icon/icone_med.png' %}" alt="ícone perfil">

                    {% else %} 

                        <img src="{% static 'img/dashboard/perfil_icon/icone_atend.png' %}" alt="ícone perfil">

                    {% endif %}

                    {% if cargo is True %}

                            <h1> {{ cargo }} </h1>

                    {% endif %}

                    {% if cargo == 'ADM' %}

                        <div>
                            <label>+ Criar novo usuário</label>
                            <select>
                                <option value="Paciente">Paciente</option>
                                <option value="Funcionário">Funcionário</option>
                            </select>
                        </div>
                
                    {% endif %}

                    {% block botoes-laterais-pac %}
                    {% endblock %}

                    {% endblock %}

                </div>
            </div>

                {% if cargo is True %}

                    <div class="subtitle">
                        <p>O QUE VOCÊ DESEJA ACESSAR?</p>
                    </div>

                {% else %}
                    
                    <div class="subtitulo">
                        <p>AGENDAMENTOS</p>
                    </div>

                {% endif %}

            {% block content %}
            {% endblock %}

        </section>

    </main>

    <script src="{% static 'js/sidebar.js' %}"></script>

</body>
</html>
