/* Estilização do título e do formulário */
.container_titulo {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}

.container_titulo div:first-child {
    font-family: var(--texto);
    font-weight: 600;

    position: absolute;
    left: 10%;
    padding-top: 20px;
    display: flex;
    align-items: center;
}

.container_titulo div:first-child input {
    margin-left: 10px;
}
.container_titulo div:first-child button {
    width: 100px;
    height: 40px;
    margin-left: 10px;
    border-radius: 10px;
    border: none;

    background-color: var(--verde);
    color: var(--branco);
}

.subtitle {
    margin: 30px;
}

/* Estilização da lista de consultas */
.container_historico {
    width: 100%;
    min-height: 400px;
    max-height: auto;
    padding-bottom: 30px;

    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

.consulta-item {
    width: 80%;
    /* height: 100px; */
    padding: 10px; /* Ajustado para garantir espaço interno */

    border-radius: 10px;
    background-color: var(--cinza);
    margin: 10px;

    display: flex;
    align-items: center;
    justify-content:space-around;
    box-sizing: border-box; /* Garante que padding não expanda a div */
}

.consulta-item p {
    font-family: var(--texto);
    font-weight: 600;
    line-height: 2;
}
/* Background do listar consulta */
#listar-consulta-bg {
    background-color: var(--azul-claro);
}




