:root{ 
    /* Aqui está nossa paleta de cores as fontes padrões */
    --amarelo: #EDD604;
    --azul-claro: #A2D3E1;
    --azul-claro-light: #C8E2DF;
    --azul-escuro: #031D38;
    --azul-escuro-light: #337F98;
    --azul-medio: #3F95A9;
    --azul-medio-light: #66B5C4;
    --azul-roxo: #160041;
    --bg: #F1F1F1;
    --branco: #ffffff;
    --cinza: #44403F;
    --preto: #000000;
    --verde: #1FC625;
    --cinza-claro: #D9D9D9; /* adicionado nova cor por Caroline*/
    --vermelho: #FF0000; /* adicionado nova cor por Caroline */
  
    --titulo: 'Raleway', sans-serif;
    --texto: 'Montserrat', sans-serif;

    --button: 'Inter', sans-serif;
  }
  
  body {
    background-color: var(--bg); /* É assim que chama as cores e as fontes */
    width: 100%;
  }
  
  .titulo {
    /* Aqui todas as tags com a classe .titulo vão ter a fonte --titulo que é a 'Raleway' */
    font-family: var(--titulo);
  }
  
  .texto {
    font-family: var(--texto);
    text-align: center;
  }
  
  .titulo__padrao__home {
    color: var(--azul-escuro);
    font-size: 30px;
    font-weight: 600;
    padding: 20px 0;
    text-decoration-line: underline;
    text-transform: uppercase;
  }
  
  .texto__padrao__home {
    /* Os parágrafos estão com o tamanho e espaçamento de identação já definido, é só chamar a classe na tag*/
    font-size: 18px;
    line-height: 20px;
    text-indent: 50px;
  }
  
  .subtitulo {
    color: var(--azul-escuro);
    font-family: var(--titulo);
    font-size: 20px;
    font-weight: 600;
    padding: 0 0 20px 0;
    text-decoration-line: underline;
    text-indent: 50px;
  }

