.rodape__container {
    /* Aqui defini o tamanho geral do rodapé e a cor do fundo */
    background-color: var(--azul-escuro);
    height: auto;
    width: 100%;
  }
  
  .rodape {
    /* Aqui seria onde ficam todos os elementos do rodapé */
    align-items: center;
    display: flex;
    height: auto;
    justify-content: space-evenly;
    padding: 2rem 0;
    width: 100%;
  }
  
  .logo__rodape {
    width: 230px;
    margin-bottom: 20px;
    height: 80px;
  }
  
  .texto__rodape {
    color: var(--branco);
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }
  
  #contato img {
    height: 30px;
    margin: 16px;
    width: 30px;
  }
  
  #redes__links {
    display: flex;
    justify-content: space-around;
  }
  
  #redes-sociais img {
    height: 40px;
    margin: 10px;
    width: 40px;
  }
  
  #contato li, a {
    align-items: center;
    display: flex;
  }
  
  #titulo__redes {
    color: var(--branco);
    font-size: 30px;
    font-weight: 600;
    padding: 20px 0;
  }
  
  #info-dev {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  #info-dev__texto {
    padding: 0 0 20px 0;
  }
  
  #logo-time {
    border-radius: 20%;
    height: 80px;
    width: 200px;
  }
  
  @media screen and (max-width: 1024px) {
    .rodape {
      align-items: center;
      flex-direction: column;
    }
  
    #horario {
      margin-top: 2rem;
    }
  
    .texto__rodape {
      text-align: center;
    }
  
    #contato ul {
      align-items: center;
      display: flex;
      flex-direction: column;
      margin: 1rem 0;
    }
  
    #contato li, a {
      flex-direction: column;
    }
  
    #info-dev {
      align-items: center;
      margin: 2rem;
    }
  }
  
  @media screen and (max-width:768px) {
    .texto__rodape {
      font-size: 16px;
    }
  }