header>div:first-child {
    /* faixa azul acima do cabeçalho com telefone e link(botão) "Agende sua consulta" */
    background-color: var(--azul-escuro);
    width: 100%;
    font-family: var(--texto);
    font-weight: 600;
    font-size: 20px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}
/* telefone */
header>div:first-child>span {
    color: var(--branco);
}
/* (botão) "Agende sua consulta" */
header>div:first-child>a {
    background-color: var(--branco);
    font-size: 16px;
    height: 30px;
    border-radius: 5px;
    color: var(--azul-roxo);
    margin: 0 5.5%;
    min-width: 185px;
    max-width: 208px;
    text-decoration: none;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}
/* img logo */
.header_logo {
    height: 85px;
    margin: 0 3%;
    max-width: 235px;
    min-width: 150px;
}
/* nav bar */
header>div:nth-child(2) {
    background-color: var(--branco);
    font-weight: 700;
    font-size: 16px;
    font-family: var(--titulo);
    height: 100px;
    color: var(--azul-roxo);
    text-transform: uppercase;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

#show_menu ul {
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#show_menu ul li {
    padding: 10px 16px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    white-space: nowrap;
}

#show_menu ul a {
    color: var(--azul-roxo);
    text-decoration: none;
    
    display: flex;
    align-items: center;
}
/* header links */
header>div:nth-child(2)>a {
    background: var(--azul-roxo);
    border-radius: 10px;
    color: var(--branco);
    height: 40px;
    margin: 0 3% 0 0;
    text-decoration: none;
    width: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
}
/* responsive nav */
.mobile-menu-hamburguer {
    display: none;
    margin-right: 1em;
}

.mobile-menu-hamburguer div {
    height: 2px;
    background: var(--azul-roxo);
    margin: 8px;
    width: 32px;
}

.mobile-menu-hamburguer:hover {
    cursor: pointer;
}

.show_menu{
    display: block!important;
    animation: fadein 1s alternate;
    -webkit-animation: fadein 1s alternate;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media screen and (max-width: 1024px) {
    .nav_menu {
        background: var(--branco);
        display: none;
        height: auto;
        top: 150px;
        right: 0;
        border: 2px var(--branco);
        width: 100%;
        position: absolute;
        z-index: 999;
    }
    
    .nav_menu ul {
        flex-direction: column;
    }

    .mobile-menu-hamburguer {
        display: block;
    }
}
    
@media screen and (max-width: 432px) {
    header>div:first-child {
        font-size: 16px;
        justify-content: space-evenly;
    }
    
    header>div:first-child>a {
        margin: 0;
    }
}

/* --------------------------------- header dashboard dos usuarios ---------------------------------------- */

/* estilo dos botoes "voltar" e "logout" */
#btn_header_dash nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

#btn_header_dash nav ul li {
    margin-right: 30px; /* Espaçamento entre os botões */
}

#btn_header_dash nav ul li:last-child {
    margin-right: 0; /* Remove o espaçamento do último botão */
}
#btn_header_dash a {
    width: 100px;
    height: 40px;
    background: var(--azul-roxo);
    border-radius: 10px;
    color: var(--branco);
    margin: 0 3% 0 0;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
}
/* espaçamento do telefone na faixa azul, seguindo o espaçamento da pagina principal de 5.5% */
.header_dash> div:first-child> span {
    margin: 0 5.5%;
}
/* cor do texto "Ola!"Nome do usuário"" */
.header_dash> div:nth-child(2)> p {
    color: var(--azul-roxo);
    padding-right: 40px;
}

