{% extends "base_header.html" %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/agenda/base-agenda.css' %}">
    <link rel="stylesheet" href="{% static 'css/agenda/calendar.css' %}">
    <link rel="stylesheet" href="{% static 'css/agenda/card-hours.css' %}">
    <link rel="stylesheet" href="{% static 'css/agenda/confirm.css' %}">
    <link rel="stylesheet" href="{% static 'css/agenda/check.css' %}">
    <link rel="stylesheet" href="{% static 'css/background/title.css' %}">
    
{% endblock head %}

{% block content %}

<!-- Aqui começa o conteúdo da página -->
<main>
    <div class="titulo-content titulo__padrao">
        <h1>Agendamento</h1>
    </div>

    <!-- input de seleção -->
    <section class="container-especialidade-data">
        <div class="seleciona-especialidade-container">
            
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <div class="confirmation">
                    <h2 class="titulo__padrao">Confirmação</h2>
                    <div class="confirm-details">
                        <span class="title-card">Verifique as informações</span>
                        <span>Nome do paciente</span>
                        <span>Especialidade</span>
                        <span>Nome do médico</span>
                        <span>Data e hora marcada</span>
                        <span>Particular ou Convênio</span>
                        <span class="price">Valor</span>
                    </div>
                    <button id="btn-confirm" class="btn">Confirmar</button>
                </div>
            
                <!-- Aqui está o aviso de confirmação -->
                <div class="finish">
                    <img src="assets/img/icones/icon-verificado.svg" alt="">
                    <p>Agendamento realizado com sucesso!</p>
                    <a href="index.html">Retornar para a página inicial</a>
                </div>
            </form> 

        </div>

        {% comment %} <label for="especialidade">Selecione a especialidade</label>
            <select class="seleciona-especialidade texto" name="especialidade">
                <option value="">Selecione uma opção</option>
                <option value="neuro">Neuroftalmologia</option>
                <option value="pediatra">Oftalmopediatria</option>
                <option value="segmento">Segmento Anterior</option>
            </select> {% endcomment %}

            {% comment %} <div>
                <button id="btn-progress" class="btn">Avançar</button>
            </div> {% endcomment %}

        <!-- calendário -->
        {% comment %} 
        <div class="calendario__container">
            <div class="calendario">
                <header>
                    <span class="icons prev">←</span>
                    <p id="data-atual"><!-- MÊS ANO --></p>
                    <span class="icons next">→</span>
                </header>
                <div class="mes">
                    <ul class="semana">
                        <li>D</li>
                        <li>S</li>
                        <li>T</li>
                        <li>Q</li>
                        <li>Q</li>
                        <li>S</li>
                        <li>S</li>
                    </ul>
                    <ul class="dias"></ul>
                </div>
            </div>
        </div>
    </section> 
    {% endcomment %}

    <!-- Card com horários disponíveis -->
    {% comment %} <div class="card">
        <h2 class="titulo__padrao">Escolha o melhor horário</h2>
        <div class="container">
            <img src="assets/img/agendamento/desenho-medica.svg" alt="">
            <div class="content">
                <h3 class="texto">Dra. Amanda</h3>
                <h4>CRM: 000000-SP</h4>
                <div class="hours">
                    <p>08:00</p>
                    <p>08:00</p>
                    <p>08:00</p>
                    <p>08:00</p>
                    <p>08:00</p>
                    <p>08:00</p>
                </div>
            </div>
        </div>
        <button id="btn-progress" class="btn">Avançar</button>
    </div> {% endcomment %}

    <!-- Seção com os convênios -->
    {% comment %} <div class="health-plan">
        <h2 class="titulo__padrao">Selecione o convênio</h2>
        <h3 class="texto">Convênios</h3>
        <figure>
            <img src="assets/img/logo/logo-porto.svg" alt="">
            <img src="assets/img/logo/logo-notredame.svg" alt="">
            <img src="assets/img/logo/logo-amil.svg" alt="">
            <img src="assets/img/logo/logo-bradesco.svg" alt="">
            <img src="assets/img/logo/logo-greenline.svg" alt="">
            <img src="assets/img/logo/logo-unimed.svg" alt="">
        </figure>
        <div>
            <button id="btn-private" class="btn">Particular</button>
            <button id="btn-progress" class="btn">Avançar</button>
        </div>
    </div> {% endcomment %}

    <!-- Seção para confirmação de dados para conclusão do agendamento -->
    
</main>

    {% comment %} <script src="{% static "js/calendario.js" %}"></script> {% endcomment %}

{% endblock content %}