{% extends "base_header.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/agenda/success.css' %}">
{% endblock head %}

{% block content %}
<main>
    <div class="titulo-content titulo__padrao">
        <h1>Agendamento Realizado com Sucesso!</h1>
    </div>
    <div class="finish">
        <img src="{% static 'assets/img/icones/icon-verificado.svg' %}" alt="Success Icon">
        <p>Agendamento realizado com sucesso!</p>
        <a href="{% url 'paciente:geral-list' request.user.paciente.pk %}">Retornar para o painel</a>
    </div>
</main>
{% endblock content %}
