<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Aqui estão os links das fontes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Raleway:wght@400;500;600;700;800&display=swap"
        rel="stylesheet">

    <!-- Estes são os links dos arquivos css com os estilos -->
    <link rel="stylesheet" href="assets/css/reset.css" type="text/css">
    <link rel="stylesheet" href="assets/css/base.css" type="text/css">
    <link rel="stylesheet" href="assets/css/cabecalho.css" type="text/css">
    <link rel="stylesheet" href="assets/css/home/banner.css" type="text/css">
    <link rel="stylesheet" href="assets/css/home/sobre.css" type="text/css">
    <link rel="stylesheet" href="assets/css/home/especialidades.css" type="text/css">
    <link rel="stylesheet" href="assets/css/home/historia.css" type="text/css">
    <link rel="stylesheet" href="assets/css/rodape.css" type="text/css">
    
    <title>Clínica Vision | Home</title>
</head>

<body>
    <header> <!-- Aqui é o cabeçalho -->
        <div class="faixa"> <!--Esta faixa fica em cima do menu na parte superior-->
            <p>(11) 3275-3530</p>
            <a href="tipo-de-acesso.html">Agende sua consulta </a> <!-- Este link está em formato de botão -->
        </div>

        <div class="cabecalho__container"> <!-- Este cabeçalho é aquela parte com bg branco e o menu com os links -->
            <img class="logo__cabecalho" src="assets/img/logo/logo-vision-escuro.svg" alt="Logotipo da Clínica Vision.">
            <nav id="mostrarMenu" class="cabecalho__menu">
                <ul class="cabecalho__menu__lista">
                    <li><a href="index.html">Home</a></li>
                    <li id="clinica"><a onclick="menuClinica()" href="#">A Clínica</a>
                        <div id="menuClinica">
                            <!-- A div "menuClinica" só vai aparecer quando o usuário clicar no link "A Clínica" -->
                            <div id="triangulo-para-cima"></div>
                            <nav class="menu__clinica"> 
                                <ul class="menu__clinica__lista">
                                    <li><a href="#sobre">Sobre nós</a></li>
                                    <li><a href="#historia">Nossa história</a></li>
                                    <li><a href="#">Equipe médica</a></li>
                                </ul>
                            </nav>
                        </div>
                    </li>
                        <!-- A função "menuClinica()" está no arquivo /aClinica.js -->
                    <li><a href="#especialidades">Especialidades</a></li>
                    <li><a href="exames.html">Exames</a></li>
                    <li><a href="#">Convênios</a></li>
                    <li><a href="contato.html">Contato</a></li>
                </ul>
            </nav>
            
            <a class="cabecalho__btn__login" href="tipo-de-acesso.html">LOGIN</a>
            <!-- link do login também vai ficar em formato de botão -->
            <div onclick="mostrarMenu()" class="mobile-menu-amburguer"> 
                <!-- A função "mostrarMenu()" está no arquivo /sideBar.js -->
                <!-- Este menu amburguer só aparece no responsivo. A função está no path:assets/js/sideBar.js -->
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </div>
    </header>

    <main>
        <!--Esta figure é do banner com bg desenhado no CSS
            <figure class="banner__container"> <!-Este banner fica logo abaixo do cabeçalho->
                <div id="img-banner"></div> <!-Desenhei o fundo do banner no css->
                <div class="banner__bg">
                    <div class="banner__bg" id="camada1"></div>
                    <div class="banner__bg" id="camada2"></div>
                    <div class="banner__bg" id="camada3"></div>
                    <div class="banner__bg" id="camada4"></div>
                </div>
            </figure>
        -->

        <!-- Aqui está o banner com a imagem logo abaixo do cabeçalho -->
        <picture class="banner"> 
            <img src="/clinica-vision/assets/img/banner/banner-home.svg"
                alt="Foto de um médico fazendo exame oftalmológico com um aparelho em uma paciente.">
        </picture>

        <a name="sobre"></a>
        <!--Esta parte é o SOBRE NÓS-->
        <section class="sobre__container"> 
            <figure class="sobre__img">
                <img src="assets/img/home/medico.png" alt="Foto de um médico.">
            </figure>
            <article class="sobre__conteudo">
                <h1 class="titulo titulo__padrao__home">Sobre nós</h1>
                <p class="texto texto__padrao__home">
                    Clínica Vision oferece a melhor experiência para os seus pacientes, trazendo soluções à sua vista.
                    A
                    nossa equipe especializada possui qualificação e excelência nos serviços prestados.
                </p>
                <p class="texto texto__padrao__home">
                    Para nós, o paciente não é apenas um número. Ele é uma vida valiosa que se encontra fragilizado e
                    inseguro. Por conta disso, os nossos atendentes devem ser ótimos ouvintes para tirar todas as
                    dúvidas e
                    oferecer as melhores resoluções possíveis.
                </p>
                <p class="texto texto__padrao__home">
                    O nosso diferencial é que colocamos os nossos princípios acima da tomada de decisão, agindo com
                    responsabilidade, empatia e inclusão.
                </p>
            </article>
        </section>

        <a name="especialidades"></a>
        <!--Aqui começa a parte de ESPECIALIDADES-->
        <section class="especialidades__container"> 
            <div class="especialidades__sub__container">
                <!--Aqui é a parte da Neuroftalmologia, a caixa com fundo azul imagem redonda e parágrafo -->
                <h1 class="titulo titulo__padrao__home">Especialidades</h1>
                <article class="especialidade">
                    <img src="assets/img/home/neuro.jpg" alt="Médica olhando através de um aparelho oftalmológico.">
                    <div class="especialidade__conteudo">
                        <h2 class="subtitulo">Especialista em Neuroftalmologia</h2>
                        <p class="texto texto__padrao__home">
                            Neuroftamologia é uma especialidade que cuida das doenças que atingem as funções
                            neurológicas relacionadas ao olho - visão, movimento dos olhos e pupila. Em alguns casos, o
                            problema pode estar relacionado também com alguma outra doença pré-existente e pode chegar a
                            afetar a saude dos olhos.
                        </p>
                        <p class="texto texto__padrao__home">
                            Distúrbios como perda transitória da visão, visão dupla e perda inexplicável do campo de
                            visão podem ser tratados pelo médico neuroftalmologista.
                        </p>
                        <a class="texto btn-agendar" href="#" target="_blank">AGENDAR</a>
                        <!-- link em formato de botão -->
                    </div>
                </article>

                <article class="especialidade"> <!--Oftalmopediatria-->
                    <div id="pediatra">
                        <div id="pediatra__conteudo" class="especialidade__conteudo">
                            <h2 class="subtitulo">Especialista em Oftalmopediatria</h2>
                            <p class="texto texto__padrao__home">
                                Oftalmopediatria é uma especialidade para diagnóstico e tratamento de bebês, crianças e
                                adolescentes portadores de doenças como má formação e problemas de refração.
                            </p>
                            <p class="texto texto__padrao__home">
                                O oftalmopediatra atua em todas as fases da infância. Ao nascerem, todos os bebês devem ser
                                submetidos ao “Teste do Olhinho”, que detecta precocemente alterações visuais, como catarata
                                e glaucoma congênitos, entre outros problemas que quando diagnosticados no nascimento podem
                                ser tratados a tempo, permitindo que a visão se desenvolva normalmente ou muito próxima do
                                normal.
                            </p>
                            <a class="texto btn-agendar" href="#" target="_blank">AGENDAR</a>
                        </div>
                        <img src="assets/img/home/pediatra.jpg" alt="Médica olhando através de um aparelho oftalmológico.">
                    </div>
                </article>

                <!--Segmento Anterior-->
                <article class="especialidade">
                    <img src="assets/img/home/segmento.jpg" alt="Médica olhando através de um aparelho oftalmológico.">
                    <div class="especialidade__conteudo">
                        <h2 class="subtitulo">Especialista em Segmento Anterior</h2>
                        <p class="texto texto__padrao__home">
                            O especialista é responsável por analisar o segmento anterior do olho para diagnosticar as
                            condições adversas e indicar tratamentos adequados. Para tratá-las é imprescindível a visita
                            frequente ao oftalmologista. Algumas doenças que são identificadas por esse especialista são
                            miopia, catarata, conjuntivite.
                        </p>
                        <p class="texto texto__padrao__home">
                            A avaliação é feita com uma lâmpada de fenda, um tipo de microscópio que possibilita o
                            oftalmologista examinar as estruturas da face anterior do olho, com uma luz de alta
                            intensidade.
                        </p>
                        <p class="texto texto__padrao__home">
                            Patologias que o especialista consegue diagnosticar são, glaucoma, síndrome do olho seco,
                            condições da córnea “úlceras da córnea e queratite”, entre outras.
                        </p>
                        <a class="texto btn-agendar" href="#" target="_blank">AGENDAR</a>
                    </div>
                </article>
            </div>
        </section>

        <a name="historia"></a>
        <section class="historia__container">
            <article class="historia">
                <h1 class="titulo titulo__padrao__home">Nossa história</h1>
                <p class="texto texto__padrao__home">A nossa história começa em 2023, fundada pelo/a doutor
                    Fabrício , no bairro Belenzinho em São Paulo. O doutor idealizava uma clínica com atendimento
                    humanizado e atento às realidades dos pacientes. Não encontrando isso em outros lugares, decidiu
                    criar sua própria clínica, partindo dos princípios abaixo:
                </p>
                <ul class="texto texto__padrao__home">
                    <li>Atendimento humanizado</li>
                    <li>Melhorias de equipamentos</li>
                    <li>Planejamento da gestão</li>
                    <li>Equipe qualificada</li>
                    <li>Acompanhamento de resultados</li>
                </ul>
            </article>
        </section>
    </main>

    <!-- Aqui começa o rodapé -->
    <footer class="rodape__container">
        <div class="rodape"> <!-- Esta div é onde está todos os elementos -->
            <div id="horario"> <!-- Nesta div fica o logo e a informação com os horários -->
                <img class="logo__rodape" src="assets/img/logo/logo-vision-claro.svg" alt="Logotipo da Clínica Vision.">
                <p class="texto texto__rodape">
                    Horário de Atendimento
                    <br>
                    Seg a Sex das 8h às 18h
                    <br>
                    Sáb das 8h às 12h
                </p>
            </div>
            <div id="contato"> <!-- Nesta div fica os ícones de telefone, whasapp e endereço -->
                <ul>
                    <li>
                        <img src="assets/img/logo/logo-telefone.png" alt="Ícone de telefone">
                        <!-- imagem seguida da mensagem do lado -->
                        <span class="texto texto__rodape">(11) 3276-3530</span>
                    </li>
                    <li>
                        <img src="assets/img/logo/logo-whatsapp.png" alt="Ícone do Whatsapp"><span
                            class="texto texto__rodape">(11) 96731-8829</span>
                    </li>
                    <li>
                        <a href="https://goo.gl/maps/iw4931p3dmeGrhv8A" target="_blank">
                            <img src="assets/img/logo/logo-localizacao.png" alt="Ícone de localização"><span
                                class="texto texto__rodape">R. Padre Adelino, 333 - Belenzinho
                                <br>
                                São Paulo - SP, CEP: 03303-000</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div id="redes-sociais"> <!-- Aqui fica as imagens das redes sociais, elas são links -->
                <h1 class="titulo" id="titulo__redes">Siga-nos!</h1>
                <nav id="redes__links">
                    <a href="https://www.instagram.com/" target="_blank"><img src="assets/img/logo/logo-instagram.png"
                            alt="Ícone do Instagram"></a>
                    <a href="https://pt-br.facebook.com/" target="_blank"><img src="assets/img/logo/logo-facebook.png"
                            alt="Ícone do Facebook"></a>
                </nav>
            </div>
            <div id="info-dev">
                <!-- Aqui fica o parágrafo dizendo "Desenvolvido por" com a imagem que é um link para a nossa página -->
                <p class="texto texto__rodape" id="info-dev__texto">Desenvolvido por</p>
                <a id="endereco" href="#" target="_blank"><img id="logo-time" src="assets/img/logo/logo-dev-team.svg"
                        alt="Logotipo do grupo de desenvolveres DEV TEAM"></a>
            </div>
        </div>
    </footer>

    <script src="assets/js/sideBar.js"></script>
</body>

</html>