<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Prontuário Clínica Vision</title>

    <!-- Aqui estão os links das fontes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Raleway:wght@400;500;600;700;800&display=swap"
        rel="stylesheet">

    <!-- Estes são os links dos arquivos css com os estilos -->
    <link rel="stylesheet" href="assets/css/reset.css" type="text/css">
    <link rel="stylesheet" href="assets/css/base.css" type="text/css">
    <link rel="stylesheet" href="assets/css/cabecalho-login.css" type="text/css">
    <link rel="stylesheet" href="assets/css/cabecalho-painel.css" type="text/css">
    <link rel="stylesheet" href="assets/css/banner.css" type="text/css">
    <link rel="stylesheet" href="assets/css/footer-clean.css" type="text/css">
    <link rel="stylesheet" href="assets/css/dados-usuario/dados-usuario.css" type="text/css">
</head>

<body>
    <header> <!-- Aqui é o cabeçalho -->
        <div class="faixa"> <!--Esta faixa fica em cima do menu na parte superior-->
            <p>(11) 3275-3530</p>
        </div>

        <div class="cabecalho__container"> <!-- Este cabeçalho é aquela parte com bg branco e o menu com os links -->
            <img class="logo__cabecalho" src="assets/img/logo/logo-vision-escuro.svg" alt="Logotipo da Clínica Vision.">
            <span id="userName">Olá! "Nome do usuário logado"</span>
            <nav>
                <a class="cabecalho__btn__voltar" href="tipo-de-acesso.html">VOLTAR</a>
                <button class="cabecalho__btn__logout titulo">LOGOUT</button>
                <!-- link do login também vai ficar em formato de botão -->
            </nav>

        </div>
    </header>
    <main>
        <div class="banner"></div>

        <div class="title">
            <h1>DADOS DO USUÁRIO</h1>
            <img src="assets/img/icones/icon-user.svg" alt="">
        </div>

        <form action="">
            <div class="container">
                <div class="name">
                    <label for="name">Nome Completo</label><br>
                    <input id="name" type="text" readonly>
                </div>
                <div class="birth">
                    <label for="birth">Data de Nascimento</label><br>
                    <input id="birth" type="date" readonly>
                </div>
                <div class="rg">
                    <label for="rg">RG</label><br>
                    <input id="rg" type="text" readonly>
                </div>
                <div class="cpf">
                    <label for="cpf">CPF</label><br>
                    <input id="cpf" type="number" readonly>
                </div>
                <div class="gender">
                    <label for="gender">Gênero</label><br>
                    <input id="gender" type="text">
                </div>
                <div>
                    <label for="">Telefone</label><br>
                    <input type="tel">
                </div>
                <div>
                    <label for="">CEP</label><br>
                    <input type="number">
                </div>
                <div>
                    <label for="">Endereço</label><br>
                    <input type="text" readonly>
                </div>
                <div>
                    <label for="">Complemento</label><br>
                    <input type="text" readonly>
                </div>
                <div>
                    <label for="">Bairro</label><br>
                    <input type="text" readonly>
                </div>
                <div>
                    <label for="">Cidade</label><br>
                    <input type="text" readonly>
                </div>
                <div>
                    <label for="">Convênio</label><br>
                    <input type="text" readonly>
                </div>
                <div>
                    <label for="">Número da carteirinha</label><br>
                    <input type="number">
                </div>
                <div>
                    <label for="">E-mail</label><br>
                    <input type="email">
                </div>
                
            </div>
            
            <div class="buttons">
                <input type="submit" id="done" value="CONCLUIR">
                <input type="submit" id="change" value="ALTERAR DADOS">
            </div>

        </form>
    </main>
    <footer></footer>
</body>

</html>