.container_titulo {
    height: 100px;
    display: flex;
    justify-content: center;
}
/* estilizando o container dos forms */
#container-forms {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    box-sizing: border-box;
    font-family: var(--texto);
}

/* ------- form alterar dados de cadastro ------- */
.perfil-cadastro {
    width: 40%;
    background-color: var(--azul-claro);
    border-radius: 0 0 90px 0;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content:right;
}

.perfil-cadastro img{
    width: 190px;
    margin-left: 20px;
}

.perfil-cadastro h1 {
    font-size: 30px;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "input input"
    "input input"
    "input input"
    "input input"
    "input input"
    "input input"
    "input input"
    "input input"
    "button button";
    gap: 10px;
}

.form-field {
    margin-bottom: 10px;
}

.form-label {
    font-family: var(--texto);
    font-weight: bold;
    padding-bottom: 10px;
}

.form-button {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;

    grid-area: button;
}

.form-button button {
    width: 50%;
    height: 40px;
    align-self: center;
    background-color: var(--verde);
    color: var(--branco);
    font-weight: 600;
    border-radius: 10px;
    border: none;
    font-family: var(--texto);
}

.input-estilizado {
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: var(--azul-claro);
    padding: 10px;
}

/* ------- form cancelar consulta ------- */

.dados-consulta {
    max-width: 100%;
}

.dados-consulta p {
    margin-bottom: 10px;
    font-family: var(--texto);
}

.dados-consulta button {
    background-color: var(--vermelho);
    color: var(--branco);
}

.form-field label {
    font-family: var(--texto);
}

#motivo {
    width: 100%;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    background-color: var(--azul-claro);
}

textarea {
    width: 100%;
}

/* ------- form alterar consulta ------- */

.form-grid-consulta {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "input input"
    "input input"
    "button button";
    gap: 10px;
}

