{% extends 'base_header.html' %}

{% load static %}

{% block content %}

    {% comment %} <img src="{% static 'img/dashboard/faixa_listrada.svg' %}" alt="listras"> {% endcomment %}

    <main>

        <section>

            {% block side-menu %} 
            
                <!--Conteudo do menu lateral azul do dashboard -->

            {% endblock %}

            {% block title %}
                
                <!--Titulo Principal-->

            {% endblock %}

            {% block botoes %}

                    <!-- Conteúdo -->
                    
            {% endblock %}

        </section>

    </main>

{% endblock %}


