{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/background/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/background/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/background/header.css' %}">

    <link rel="stylesheet" href="{% static 'css/dashboards/base_dash.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboards/dash_paciente.css' %}">

    <link rel="stylesheet" href="{% static 'css/formulario/inputs.css' %}">
    {% block head %}
    {% endblock %}
    
    <title>{% block page-title %}Clínica Vision | {{ username }} {% endblock %}</title>
</head>

<body>
    <header class="header_dash">
        <div></div>
        <div>
            <img class="header_logo" src="{% static 'img/logo/logo-vision-dark.svg' %}" alt="Logo Clínica Vision">
            {% block login-header %}
                <p> Olá! {{ username }} </p>
    
                <div id="btn_header_dash">
                    <nav>
                        <ul>
                            <li><a href="{% url "login" %}">LOGOUT</a></li>
                        </ul>
                    </nav>
                </div>
    
            {% endblock %}
            
            <div onclick="mostrarMenu()" class="mobile-menu-amburguer">
                <!-- Este menu amburguer só aparece no responsivo. A função está no path:assets/js/sideBar.js -->
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </div>
    
    </header>

    {% block content %}
    {% endblock %}

    <script src="{% static 'js/sideBar.js' %}"></script>
    <script src="{% static 'js/alert_del.js' %}"></script>

</body>
</html>