{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block head %}
    {% endblock %}

    <link rel="stylesheet" href="{% static 'css/background/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/background/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/background/header.css' %}">

    <link rel="stylesheet" href="{% static 'css/paciente/dashboards/base_dash.css' %}">
    <link rel="stylesheet" href="{% static 'css/paciente/dashboards/dash_paciente.css' %}">
    <link rel="stylesheet" href="{% static 'css/formulario/inputs.css' %}">

    <title>{% block page-title %} {{ username }} {% endblock %}</title>
</head>

<header class="header_dash">

    <div>
        <!--faixa azul do header-->
    </div>

    <div>
        <img class="header_logo" src="{% static 'img/logo/logo-vision-dark.svg' %}" alt="Logo Clínica Vision">

        {% block login-header %}

            <p> Olá! {{ username }} </p>

            <div id="btn_header_dash">
                <nav>
                    <ul>
                        <li><a href="">LOGOUT</a></li>
                    </ul>
                </nav>
            </div>

        {% endblock %}
        
        <div onclick="mostrarMenu()" class="mobile-menu-amburguer">
            <!-- Este menu amburguer só aparece no responsivo. A função está no path:assets/js/sideBar.js -->
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </div>

</header>

<body>

    <img src="{% static 'img/dashboard/faixa_listrada.svg' %}" alt="listras">

    {% block content %}
    {% endblock %}

    <!--scripts do bootstrap que esta sendo usado no modal da pagina de perfil do paciente-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src="{% static 'js/sideBar.js' %}"></script>
    <script src="{% static 'js/alert_del.js' %}"></script>
    <script src="{% static 'js/calendario.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    
</body>
</html>