{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/assets/css/background/base.css">
    <link rel="stylesheet" href="/assets/css/background/reset.css">
    <link rel="stylesheet" href="/assets/css/background/header.css">

    <link rel="stylesheet" href="/assets/css/dashboards/dash_base.css">
    <title>{% block page-title %} Clinica Vision - {{ username }} {% endblock %}</title>
</head>

<header class="header_dash">

    <div>
        <span>(11) 3275-3530</span>
    </div>

    <div>
        <img class="header_logo" src="/assets/img/logo/logo-vision-dark.svg" alt="Logo Clínica Vision">

        {% block username %}
            <p> Olá! {{ username }} </p>
        {% endblock %}

        <div id="btn_header_dash">
            <nav>
                <ul>
                    <li><a href="">VOLTAR</a></li>
                    <li><a href="">LOGOUT</a></li>
                </ul>
            </nav>
        </div>
        
        <div onclick="mostrarMenu()" class="mobile-menu-amburguer">
            <!-- Este menu amburguer só aparece no responsivo. A função está no path:assets/js/sideBar.js -->
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </div>

</header>

<body>

    <img src="/assets/img/dashboard/faixa_listrada.svg" alt="listras">

    <main>

        <section>

            <div class="left_menu">
                <div>
                    <img src="/assets/img/dashboard/perfil_icon/icone_adm.png" alt="ícone perfil">

                    {% block cargo %}

                        {% if cargo == 'ADM' %}
                            <h1>ADMINISTRADOR(A)</h1>
                        {% elif cargo == 'ASS' %}
                            <h1>ASSISTENTE</h1>
                        {% else %}
                            <h1>DOUTOR(A)</h1>
                        {% endif %}

                    {% endblock %}

                    {% if cargo == 'ADM' %}

                        <div>
                            <label>+ Criar novo usuário</label>
                            <select>
                                <option value="Paciente">Paciente</option>
                                <option value="Funcionário">Funcionário</option>
                            </select>
                        </div>
                
                    {% endif %}

                </div>
            </div>

            {% block content %}
            {% endblock %}

        </section>

    </main>

    <script src="js/sidebar.js"></script>

</body>
</html>
