{% extends "base_header.html" %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/login/login.css" %}">
    <link rel="stylesheet" href="{% static "css/login/header-login.css" %}">
{% endblock head %}

{% block page-title %}Cínica Vision | Login{% endblock page-title %}

{% block login-header %}
    <a href="{% url "home" %}">Voltar</a>
{% endblock login-header %}

{% block content %}
    <main>
        <section class="bem-vindo__container">
            <div class="bg-bem-vindo"></div> <!-- Esta div é o fundo branco emcima do bg -->
            <div class="bem-vindo__conteudo">
                <h1>Seja<br>bem-vindo(a)</h1>
                <a id="btn-criar-conta" href="{% url 'paciente:cadastro' %}">+ Criar conta</a>
            </div>
        </section>

        <section class="login__container"> <!-- Essa section é toda a parte da direita -->
            <div class="login__links">
                <h1>LOGIN</h1>
                <nav>
                    <div class="login__facebook texto__padrao">
                        <a href="https://www.facebook.com/"><img src="{% static "img/redes/facebook.png" %}"
                                alt="Logotipo do Facebook.">Continuar com Facebook</a>
                    </div>
                    <div class="login__apple texto__padrao">
                        <a href="https://appleid.apple.com/sign-in"><img src="{% static "img/redes/apple.png" %}"
                                alt="Logotipo da Apple">Continuar com Apple</a>
                    </div>
                    <div class="login__google texto__padrao">
                        <a
                            href="https://accounts.google.com/v3/signin/identifier?dsh=S369551555%3A1680555202420996&continue=https%3A%2F%2Fwww.google.com%2Fwebhp%3Fhl%3Dpt-BR%26sa%3DX%26ved%3D0ahUKEwi8s7r5y47-AhXqqpUCHUajDsYQPAgI&ec=GAZAmgQ&hl=pt-BR&ifkv=AQMjQ7TU-DOt3uE3wFoV8-ly8ILr-uFQHe48MVS_fzNT0HA7AWKWhz1PDDWhbT13eMorudbtEThjbw&passive=true&flowName=GlifWebSignIn&flowEntry=ServiceLogin"><img src="{% static "img/redes/google.png" %}" alt="">Continuar com Google</a>
                    </div>
                </nav>
            </div>
            <div class="login">
                <span class="titulo__padrao">Ou</span>
                <form action="">
                    {% csrf_token %}
                    <label for="E-mail">E-mail</label>
                    <input id="input-email" name="email" type="email" placeholder="seu_email@email.com">
                    <br>
                    <label for="senha">Senha</label>
                    <input id="input-senha" name="password" type="password" placeholder="Senha">
                </form>
                <a href="#">Esqueceu a senha?</a>
                <button class="btn-login" type="submit">LOGIN</button>
            </div>
        </section>
    </main>
{% endblock content %}

