
<!-- Modal - Alterar Consulta -->
<div class="modal fade" id="myModal-Alterar" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h1 class="title">REMARCAR CONSULTA</h1>
            </div>
            <div class="modal-body">
                <div id="container-forms">

                    <form method="POST" class="form-grid-consulta">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-field">
                                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label><br>
                                {{ field }}
                            </div>
                        {% endfor %} 
                        <button type="submit" class="form-button">CONCLUIR</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>

