{% load static %}

{% extends 'base.html' %}

{% block content %}

    <img src="{% static 'img/dashboard/faixa_listrada.svg' %}" alt="listras">

    <main>

        <section>

            {% if username is True %}

                <div class="left_menu">
                    <div>

                        {% block side menu %} <!--Conteudo do menu lateral azul do dashboard -->
                        
                            {% block botoes-laterais-pac %}
                                <!-- Botoes pagina do paciente -->
                            {% endblock %}

                        {% endblock %}

                    </div>
                </div>
                
            {% endif %}

            {% block title %}
                
                <!--Titulo Principal-->

            {% endblock %}

            {% block content %}
                    <!-- Conteúdo -->
            {% endblock %}

        </section>

    </main>

{% endblock %}


