{% extends "base_dash.html" %}

{% load static %}

{% load widget_tweaks %}

{% block page-title %} Clinica Vision - {{ username }} {% endblock %}

{% block side menu %}

        <img src="{% static 'img/dashboard/perfil_icon/icone_atend.png' %}" alt="ícone perfil">

    {% block botoes-laterais-pac %}

                <div class="btn_quadrado_pac"> <!--botao agendamento-->
                    <a href="#">
                        <img id="centralize" src="img/img-painel_atend/img-calendario.png" alt="ícone-agendamento">
                        <h1>NOVO<br>AGENDAMENTO</h1>
                    </a>
                </div>

                <div class="btn_quadrado_pac"> <!--botao meus dados-->
                    <a href="#">
                        <img id="centralize" src="img/img-painel_paciente/img_paciente.png" alt="ícone-agendamento">
                        <h1>MEUS DADOS</h1>
                    </a>
                </div>

    {% endblock %}

{% endblock %}

{% block title %}

    <div class="subtitulo">
        <p>AGENDAMENTOS</p>
    </div>

{% endblock %}

{% block content %}

    <link rel="stylesheet" href="{% static 'css/dashboards/dash_paciente.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboards/dash_paciente.css' %}">

    <section>

        <div class="section_principal">

            <h2 class="texto">Agendamentos futuros</h2>

            <div class="btn_agendamentos_futuros"> <!--linha com os agendamentos futuros-->

                <div class="linha_interna"><!--div para estilo-->
                    <p id=>Segmento anterior</p>
                    <p id="data">xx/xx/xxxx</p>
                    <p id="horario">00:00</p>
                </div>
                <!--botao de excluir agendamento, função que chama o alert para confirmação do usuário-->
                <button id="btn_excluir" onclick="btnCancelar()"><img class="icones_menores"
                        src="img/img-painel_paciente/img_icone_excluir.svg" alt="ícone-excluir">
                </button>

            </div>

            <!--codigo do alert de confirmação para cancelar agendamento-->
            <div id="janela_cancelar"> <!--janela maior-->

                <div class="elem_janela"> <!--container para alinhar o conteudo da janela-->

                    <div class="align_close">
                        <!--div para alinhar primeira linha do titulo e botao de fechar janela-->

                        <button class="btn_retornar" onclick="btnRetornar()"><img
                                src="img/img-painel_paciente/img_icone_excluir.svg" alt="icone-excluir">
                        </button><!--<span>&times;</span>-->

                        <h1 class="subtitulo">CANCELAR AGENDAMENTO</h1>

                    </div>

                    <div class="align_linha"><!--segunda linha com os inputs de especialidade e paciente-->

                        <label for="especialidade">Especialidade:</label>
                        <input id="input_ajuste" type="text" name="especialidade">
                        <label for="paciente">Paciente:</label>
                        <input id="input_ajuste" type="text" name="paciente">

                    </div>

                    <div class="align_linha"><!--terceira linha com os inputs restantes-->

                        <label for="data">Data:</label>
                        <input type="text" name="data">
                        <label for="hora">Hora:</label>
                        <input type="text" name="hora">
                        <label for="medico">Médico(a)<br>solicitado(a):</label>
                        <input type="text" name="medico">

                    </div>

                    <div class="align_linha"><!--quarta linha com botao de confirmar-->

                        <button id="btn_confirmar" onclick="confirmarCancelamento()">Confirmar
                        </button><!--adicionar função de excluir-->

                    </div>

                </div>

            </div>

            <div id="janela_confirmado"><!--janela de confirmação de cancelamennto-->
                <div class="elem_janela elem_janela-self">
                    <img src="img/img-painel_paciente/img_icone_excluir.svg" alt="icone-excluir"><!--img-botao'x'-->
                    <h1 class="subtitulo">SUA CONSULTA FOI CANCELADA</h1>
                </div>
            </div>

            <h2 class="texto">Histórico de consultas</h2>

            <div class="historico_consulta"><!--historico de consultas-->

                <div class="bg_botao"><!--botao laudo 1-->
                    <p id=>Segmento anterior</p>
                    <p id="data">xx/xx/xxxx</p>
                    <p id="horario">00:00</p>
                    <a href="">
                        <img class="icones_menores" src="img/img-painel_paciente/img_icone_laudo.svg"
                            alt="ícone-laudo-médico">
                    </a>
                </div>

                <div class="bg_botao"><!--botao laudo 2-->
                    <p id=>Neuroftalmologia</p>
                    <p id="data">xx/xx/xxxx</p>
                    <p id="horario">00:00</p>
                    <a href="">
                        <img class="icones_menores" src="img/img-painel_paciente/img_icone_laudo.svg"
                            alt="ícone-laudo-médico">
                    </a>
                </div>

                <div class="bg_botao"><!--botao laudo 3-->
                    <p id=>Oftalmologia</p>
                    <p id="data">xx/xx/xxxx</p>
                    <p id="horario">00:00</p>
                    <a href="">
                        <img class="icones_menores" src="img/img-painel_paciente/img_icone_laudo.svg"
                            alt="ícone-laudo-médico">
                    </a>
                </div>

            </div>

        </div>

    </section>

{% endblock %}

       