{% extends "base_dash.html" %}

{% load static %}

{% load widget_tweaks %}

{% block page-title %} Clinica Vision - {{ username }} {% endblock %}

{% block side menu %}

        <img src="{% static 'img/dashboard/perfil_icon/icone_adm.png' %}" alt="ícone perfil">

        <h1> {{ cargo }} </h1>

        <div>
            <label>+ Criar novo usuário</label>
            <select>
                <option value="Paciente">Paciente</option>
                <option value="Funcionário">Funcionário</option>
            </select>
        </div>

{% endblock %}

{% block title %}

    <div class="subtitle">
        <p>O QUE VOCÊ DESEJA ACESSAR?</p>
    </div>
    
{% endblock %}

{% block content %}

    <div class="btn_main">
        <a href="{% url '#' %}">
            <img src="{% static 'img/dashboard/icone_clinica.png' %}" alt="ícone ilustrativo clínica">
            <h1>DADOS DA<br>CLÍNICA</h1>
        </a>
    </div>

    <div class="btn_main">
        <a href="{% url '#' %}">
            <img id="centralize" src="{% static 'img/dashboard/icone_agend.png' %}" alt="ícone ilustrativo agendamento">
            <h1>CONSULTAR<br>AGENDAMENTOS</h1>
        </a>
    </div>

    <div class="btn_main">
        <a href="{% url '#' %}">
            <img src="{% static 'img/dashboard/icone_paciente.png' %}" alt="ícone perfil paciente">
            <h1>PACIENTES</h1>
        </a>
    </div>

    <div class="btn_main">
        <a href="{% url '#' %}">
            <img src="{% static 'img/dashboard/icone_funcionario.png' %}" alt="ícone perfil funcionário">
            <h1>FUNCIONÁRIOS</h1>
        </a>
    </div>

{% endblock%}

