{% extends "base.html" %}

{% load static %}

{% load widget_tweaks %}

{% block page-title %} Clinica Vision - {{ username }} {% endblock %}

{% block side menu %}

        <img src="{% static 'img/dashboard/perfil_icon/icone_atend.png' %}" alt="ícone perfil">

        <h1> {{ cargo }} </h1>

{% endblock %}

{% block title %}

    <div class="subtitle">
        <p>O QUE VOCÊ DESEJA ACESSAR?</p>
    </div>
    
{% endblock %}

{% block content %}

    <div class="btn_main">
        <a href="{% url '#' %}">
            <img id="centralize" src="{% static 'img/dashboard/icone_agend.png' %}" alt="ícone ilustrativo agendamento">
            <h1>CONSULTAR<br>AGENDAMENTOS</h1>
        </a>
    </div>

    <div class="btn_main">
        <a href="{% url '#' %}">
            <img src="{% static 'img/dashboard/icone_paciente.png' %}" alt="ícone perfil paciente">
            <h1>PACIENTES</h1>
        </a>
    </div>

    <div class="btn_main">
        <a href="{% url '#' %}">
            <img src="{% static 'img/dashboard/img-calendario.png' %}" alt="ícone ilustrativo calendário">
            <h1>NOVO AGENDAMENTO</h1>
        </a>
    </div>

{% endblock%}
