{% extends "base_dash.html" %}

{% load static %}

{% block page-title %} Clinica Vision - Dr(a) {{ username }} {% endblock %}

{% block side-menu %}

    <div class="left_menu">
        <div>
            <img src="{% static 'img/dashboard/perfil_icon/icone_03.png' %}" alt="ícone perfil">

            <h1> {{ cargo }} </h1>
        </div>
    </div>

{% endblock %}

{% block title %}

    <div class="subtitle">
        <p>O QUE VOCÊ DESEJA ACESSAR?</p>
    </div>
    
{% endblock %}

{% block botoes %}

    <div class="btn_main">
        {% comment %} <a href="{% url '#' %}"> {% endcomment %}
            <img src="{% static 'img/dashboard/icone_paciente.png' %}" alt="ícone ilustrativo paciente">
            <h1>PACIENTES</h1>  
        {% comment %} </a> {% endcomment %}
    </div>

    <div class="btn_main">
        {% comment %} <a href="{% url '#' %}"> {% endcomment %}
            <img id="centralize" src="{% static 'img/dashboard/img-calendario-med.png' %}" alt="ícone ilustrativo img-calendario-med">
            <h1>MINHA AGENDA</h1>
        {% comment %} </a> {% endcomment %}
    </div>

    <div class="btn_main">
        <a href='{% url 'funcionario:atualizar-cadastro' funcionario.pk %}'>
            <img src="{% static 'img/dashboard/perfil_icon/icone_03.png' %}" alt="ícone perfil medico">
            <h1>MEUS DADOS</h1>
        </a> 
    </div>

{% endblock%}
