{% extends "base_dash.html" %}

{% load static %}

{% block page-title %} Clinica Vision - {{ username }} {% endblock %}

{% block content %}

    <img src="{% static 'img/dashboard/faixa_listrada.svg' %}" alt="listras">

    <main>

        <section class="container_grid_paciente">

            {% block side-menu %}

                <div class="left_menu">
                    <div>
                        <img src="{% static 'img/dashboard/perfil_icon/icone_01.png' %}" alt="ícone perfil">

                        <div class="btn_quadrado_pac"> <!--botao agendamento-->
                            <a href="#">
                                <img id="centralize" src="{% static 'img/dashboard/img-calendario.png' %}" alt="ícone-agendamento">
                                <h1>NOVO<br>AGENDAMENTO</h1>
                            </a>
                        </div>

                        <div class="btn_quadrado_pac"> <!--botao meus dados-->
                            <a href="#">
                                <img id="centralize" src="{% static 'img/dashboard/perfil_icon/icone_01.png' %}" alt="ícone-agendamento">
                                <h1>MEUS DADOS</h1>
                            </a>
                        </div>
                    </div>
                </div>

            {% endblock %}

            {% block title %}
            
                <div class="subtitle" id="subtitle_paciente">
                    <p>AGENDAMENTOS</p>
                </div>

            {% endblock %}

            {% block botoes %}

                <div class="section_principal">

                    <h2 class="texto">Agendamentos futuros</h2>
    
                    <div class="btn_agendamentos_futuros"> <!--linha com os agendamentos futuros-->

                    {% if agendamentos.count == 1 %}

                        {% for agendamento in agendamentos %}
                            {% comment "" %} 
                                Iterando objetos de consulta sobre a queryset criada pelo filter definido na view 
                            {% endcomment %}
                            <div class="linha_interna"><!--div para estilo-->

                                {% for medico in agendamento.id_medico.all %}
                                    {% comment %} 
                                        Iterando sobre a tabela intermediaria entre consulta e medico 
                                    {% endcomment %}
                                    {% for especialidade in medico.id_especialidade.all %}
                                        {% comment %} 
                                            Iterando sobre a tabela intermediaria entre medico e especialidade
                                        {% endcomment %}
                                        <p>{{ especialidade }}</p>
                                    {% endfor %}
                                {% endfor %}
                                <p>{{ agendamento.data_cons }}</p>
                                <p>{{ agendamento.hora_cons }}</p>
                                
                            </div>
                            <!--botao de excluir agendamento, função que chama o alert para confirmação do usuário-->
                                <button type="submit" id="btn_excluir" onclick="btnCancelar()"><img class="icones_menores"
                                    src="{% static 'img/dashboard/img_icone_excluir.svg' %}" alt="ícone-excluir">
                                </button>

                        {% endfor %}

                    {% elif agendamentos.count >= 2 %}

                        <p class="texto">{{ agendamentos.count }} consultas futuras. Ver todos</p>
                        {% comment %} <a href="" type="submit"></a> {% endcomment %}

                    {% else %}

                        <p class='texto'>Não há agendementos futuros</p>

                    {% endif %}
    
                    </div>

                    {% block cancelar-consulta %}
                    {% endblock %}

                    <h2 class="texto">Histórico de consultas</h2>
    
                    <div class="historico_consulta"><!--historico de consultas-->

                        {% if historicos %}

                            {% for historico in historicos|slice:":3" %}

                                <div class="bg_botao"><!--botao laudo 1-->

                                    {% for medico in historico.id_medico.all %}
                                        {% for especialidade in medico.id_especialidade.all %}
                                            <p>{{ especialidade }}</p>
                                        {% endfor %}
                                    {% endfor %}

                                    <p>{{ historico.data_cons }}</p>
                                    <p>{{ historico.hora_cons }}</p>
                                    <a href="">
                                        <img class="icones_menores" src="{% static 'img/dashboard/img_icone_laudo.svg' %}"
                                            alt="ícone-laudo-médico">
                                    </a>
                                </div>
            
                            {% endfor %}

                            {% if historicos.count >= 3 %}

                                <p class="texto">Ver outras {{ historicos.count }} consultas passadas.</p>
                                {% comment %} <a href="" type="submit"></a> {% endcomment %}

                            {% endif %}

                        {% else %}

                            <p class="texto">Não há histórico de consulta</P>

                        {% endif %}
    
                    </div>
    
                </div>

            {% endblock %}

        </section>

    </main>

    {% endblock %}

       